.inputDiv{
  background-image: url(images/Edit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;

 width: fit-content;
}

#fair{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 1rem;
  padding-right: 0.5rem;

}


.selected {
  background-color: rgb(47, 240, 47);
  color: black;
}

body{
background-color:rgb(247, 246, 245) ;
}

.inputForm{
    display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 1rem;
  padding-right: 0.5rem;
  margin-bottom: 2em !important;
}

.addButton1{
    display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 1rem;
  padding-right: 0.5rem;

}
.obed:hover{
  background-color:chartreuse ;
}

.headings{
  display: block;
}
.inExp{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top:2em;
}

.lastInput{
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top:2em;

}
.fine-girl{
  margin-bottom: 1rem;
}

.months{
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  width: 50%;
}